@mixin custom_layout($display, $rows, $columns) {
    display: $display;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
}

@mixin tablet {
    @media (min-width: $tablet) and (max-width: $desktop - 1px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}